@import url("https://fonts.googleapis.com/css2?family=Cinzel");
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#canvas {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
